body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}
.rectanguloUno {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 166, 0);
}

.rectanguloOscuro {
    width: 100px;
    height: 100px;
    background-color: rgb(218, 141, 0);
    position: absolute;
    margin-top: 25px;
    margin-left:  70px;

}

.rectangulotTes {
    width: 100px;
    height: 100px;
    background-color: rgb(39, 26, 2);
    position: absolute;
    margin-top: 15px;
    margin-left:  170px;    
}